body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba($color: #011d24, $alpha: .25);
    z-index: -3;
    
    div.bgc{
        border-radius: 10px;
        background-color: #58589edc;
        width: 100%;
        min-height: 20vh;
        opacity: 0.5;
        position: relative;
        z-index: -3;
    }
    // 標頭
    div.head{
        
        // 上方導覽列
            div.topbar{
                // padding : 10px 5px ;
                width: 98vw;
                // border: 1px solid burlywood;
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                div.logo{
                    img{
                        border-radius: 20px;
                        min-width: 10%;
                        height: 80px;
                        // animation: img 4s;
                    }
                }
                // right navbar
                div.nav_b{
                    display: flex;
                    ul.ul_T{
                        padding: 0;
                        display: flex;
                        position: relative;
                        li{
                            margin-right: 10px;
                            list-style-type: none;
                            display: flex;
                            align-items: center;
                            a{
                                text-decoration: none;
                                cursor: pointer;
                                color: #ee2805f3;
                                &:hover{
                                 color: rgb(229, 240, 240);
                                 font-weight: bolder;
                                 padding: 2px;
                                }
                            }
                        }
                            li{
                                padding:0 10px;
                            }
                        }
                    }
                }
            }

            div.content{
                display: flex;
                justify-content: center;
                padding: 3px;
                width: 98vw;
                iframe{
                    border: 1px solid black;
                    border-radius: 10px;
                    width: 100%;
                    height: 85vh;
                }
                
            }
        }


// @keyframes img_h{
//     0%{
//         transform:rotate(0deg);
//     }
    
//     100%{
//         transform:rotate(180deg);
//     }
// }
// @keyframes img_o{
//     0%{
//         transform:rotate(180deg);
//     }
//     100%{
//         transform:rotate(360deg);
//     }
// }