
        :root{
            --color001: #e3a6a1;
            --color002: #bc5f6a;
            --color003: #5580a0;
            --color004: #034b61;
            --color005: #32435f;
            --color006: #023459;
            --color007: #1e646e;
            --color008: #8F8681;
            --color009: #A67F78;
            --color010: #85B8CB;
            --color011: #1F7F4F;
            --color012: #D5D2C1;
            --color013: #0E0301;
            --color014: #B78338;
            --color015: #19b3b1;
            --color016: #ead68d;
            --color017: #ffefa1;
        }
        *{
            margin-top: 5px;
            padding: 0px;
        }
        body{
            background-color: var(--color008);
        }
        .wrapper{
            width: 1024px;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            background-color: var(--color001);
            padding-top: 10px;
            overflow:hidden;
        }
        .banner img{
            width:100%;
            height: 100%;
        }
        
        .content nav{
            text-align: center;
            background: var(--color012);
        }
        .content ul{
            display: inline-block;
            margin: 0;
        }
        .content ul li{
            float: left;
            list-style-type: none;
            
        }
        .content ul li a{
            font-size: 15px;
            display: block;
            border: 1px solid var(--color006);
            border-radius: 10px;
            background-color: var(--color004);
            color: var(--color012);
            font-weight: bolder;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 15px;
            padding-left: 15px;
            text-decoration: none;
            box-shadow: inset 0 0 5px 2px var(--color010);
        }
        .content ul li a:hover {
            font-size: 20px;
            border-radius: 20px;
            background-color: var(--color003);
            color: var(--color006);
            box-shadow: inset 0 0 2px 5px var(--color004);
        }
        .content_in{
            text-align: center;
        }
        .content_in h1{
            
            color: var(--color007);
            font-weight: bolder;
            margin-top: 10px;
        }
        .content_in p{
            padding-left: 50px;
            padding-right: 50px;
            font-weight: 100;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .content_in p a{
            display: inline-block;
            background-color: #19b3b1;
            text-decoration: none;
            padding: 10px;
            margin-bottom: 10px;
            border: 2px solid var(--color006);
            border-radius: 10px 7px 0px 0;
            font-weight: bolder;
            font-size: 20px;
        }
        .footer {
            
            background: var(--color012);
            text-align: center;
            font-style: italic;
            font-weight:bold;
            margin-top: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .sidebox{
            display: block;
            float: left;
            border: 3px solid var(--color012);
            background-color: var(--color016);
            width:150px;
            height: 514px;
            padding-top: 5px;
        }
        .sidebox ul {
            display: block;
            text-align: center;   
        }
        .sidebox ul li{
            border: 1px solid var(--color013);
            border-radius: 10px;
            margin-bottom: 15px;
            padding-top:2px ;
            padding-bottom: 2px;
            list-style-type:none;
            font-size: 17px;
        }
        .sidebox ul li a {
            text-decoration: none;
        }
        .sidebox ul li:hover{
            font-size: 22px;
            font-weight: bold;
            border-radius: 15px;
            background-color: var(--color017);
            box-shadow: inset 0 0 1px 2px var(--color008);
        }
        @media screen and (max-width:1024px){
            .wrapper{
                width:100%;
            }
            .sidebox{
                width:100%;
                height: auto;
                text-align: center;
                
            }
            .sidebox ul{
                display: inline-block;
                margin-bottom: -10px;
                
            }
            .sidebox ul li{
                float: left;
                margin-right: 5px;
            }
            .sidebox ul li a{
               padding: 10px;
                font-size: 18px;
            }
        }
